.search {
	padding: 1rem 0;
	color: var(--text);

	h2 {
		margin-bottom: 1rem;
	}
}

.filters {
	margin-bottom: 1.5rem;
	display: flex;
	gap: 0.75rem;
	flex-wrap: wrap;
	align-items: center;


	input,
	select {
		padding: 0.5rem;
		border: 1px solid var(--text);
		border-radius: 4px;
		background-color: var(--bg);
		color: var(--text);
		font-size: 1rem;
		outline: none;
		min-width: 120px;

		&:focus {
			box-shadow: 0 0 0 2px var(--grey);
		}
	}

	input[type="text"] {
		flex-grow: 1;
	}

	input[type="number"] {
		width: 80px;
		min-width: auto;
	}
}