ul.list {
	list-style: none;
	padding: 0;
	text-align: left;

	a {
		text-decoration: none;
		color: var(--text);
	}

	li {
		padding: 8px;
		cursor: pointer;
		display: flex;
		align-items: center;
		color: var(--text);

		img {
			margin: 0 0.5em;
		}

		.dash {
			margin: 0 6px;
		}
	}

	li:hover {
		background-color: var(--grey);
		color: var(--bg);

		a {
			color: var(--bg);
		}
	}
}

.pages {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
	gap: 1em;

	button {
		background: none;
		border: 1px solid var(--text);
		color: var(--text);
		cursor: pointer;
		padding: 0.25em 0.5em;
		border-radius: 4px;

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}

		&:hover:not(:disabled) {
			background-color: var(--grey);
			color: var(--bg);
		}
	}
}